<!doctype html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='new.css') }}">
</head>
<body>
  <h1 class="main-title">STUDENT PERFORMANCE TRACKER</h1>
  <div class="container">
    <h2>Login</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for m in messages %}
            <li style="color: red;">{{ m }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form action="{{ url_for('login') }}" method="POST">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>
